# Datasets
data/
dataset/
datasets/
images/
media/
uploads/

# ML artifacts
models/
checkpoints/
*.h5
*.pt
*.pth
*.joblib
*.pkl

# Python cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# Virtual environments
env/
venv/
.venv/

# Logs
logs/
*.log

# Archives
*.zip
*.rar
*.7z

# OS junk
.DS_Store
Thumbs.db
